# allow priv_app to find and bind Google Battery HAL
allow priv_app hal_googlebattery_service:service_manager find;
binder_call(priv_app, hal_googlebattery)
